@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --grid-color: #1a1a1a;
}

body {
  background-color: var(--background);
  background-image: 
    linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 40px 40px;
  color: #ffffff;
  min-height: 100vh;
}

.menu-item {
  @apply text-text-gray hover:text-white transition-colors duration-200;
}

.active-menu-item {
  @apply text-white;
} 